<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>任务详情管理</title>
	<link href="${request.contextPath}/css/common_biz.css"
		  rel="stylesheet" type="text/css" />
	${jsContext}${jquery}${easyUI}${jqGrid}${toast}${easyUI}${appJs}${jackson_generator}
	<script type="text/javascript"
			src="${request.contextPath}/js/taskData_index.js"></script>
</head>
<body>
<div class="pd">
	<div class="toolkit toolkit_plus" >
		<ul class="toolkit_ul_left">
			<li><input type="button" class="btn_blue" id="commonViewBtn"
					   value="查看" /></li>
			<li><input type="button" class="btn_blue" id="commonShowAddBtn"
					   value="新增" /></li>
			<li><input type="button" class="btn_blue" id="commonShowEditBtn"
					   value="编辑" /></li>
			<li><input type="button" class="btn_blue" id="commonDelBtn"
					   value="删除" /></li>
			<li><input type="button" class="btn_blue" id="commonRefreshBtn"
					   value="刷新" /></li>
		</ul>
		<ul class="toolkit_ul_right">
			<li>id： <input type="text" id="commonSearchInput">
			</li>
			<li><input type="button" class="btn_blue" id="commonSearchBtn"
					   value="查询" /></li>
			<li><input type="button" class="btn_blue" id="commonRetrieveBtn"
					   value="检索" /></li>
		</ul>
	</div>
	<div class="data_grid clear">
		<table id="commonList"></table>
		<div id="commonPager"></div>
	</div>

	<!-- 详细表单 -->
	<div id="commonDetail" class="form"
		 style="width: 600px; display: none;">
		<form id="commonDetailForm" action="" method="post">
			<table class="t4">
				<tr>

					<th>期号</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="annm" name="annm" /></td>
					<th>开始位置</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="startNum" name="startNum" /></td>
				</tr>
				<tr>
					<th>结束位置</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="endNum" name="endNum" /></td>
					<th>执行状态</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="exeState" name="exeState" /></td>
					<th>完成时间</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="completeTime" name="completeTime" /></td>
				</tr>
			</table>
			<div class="btn_center" id="commonDetailBtnKit">
				<input type="button" class="btn_blue" id="commonSaveBtn" value="保存" />
				<input type="button" class="btn_blue  pd_l10" id="commonResetBtn"
					   value="重置" />
			</div>
		</form>
	</div>
</div>
</body>
</html>
