<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商标数据管理</title>
    <link href="${request.contextPath}/css/common_biz.css"
          rel="stylesheet" type="text/css"/>
    ${jsContext}${jquery}${easyUI}${jqGrid}${toast}${easyUI}${appJs}${jackson_generator}
    <script type="text/javascript"
            src="${request.contextPath}/js/trademarkBean_index.js"></script>
</head>
<body>
<div class="pd">
    <div class="toolkit toolkit_plus">
        <ul class="toolkit_ul_left">
            <li><input type="button" class="btn_blue" id="commonViewBtn"
                       value="查看"/></li>
            <li><input type="button" class="btn_blue" id="commonShowAddBtn"
                       value="新增"/></li>
            <li><input type="button" class="btn_blue" id="commonShowEditBtn"
                       value="编辑"/></li>
            <li><input type="button" class="btn_blue" id="commonDelBtn"
                       value="删除"/></li>
            <li><input type="button" class="btn_blue" id="commonRefreshBtn"
                       value="刷新"/></li>
        </ul>
        <ul class="toolkit_ul_right">
            <li>商标号 <input type="text" id="commonSearchInput">
            </li>
            <li><input type="button" class="btn_blue" id="commonSearchBtn"
                       value="查询"/></li>
            <li><input type="button" class="btn_blue" id="commonRetrieveBtn"
                       value="检索"/></li>
        </ul>
    </div>
    <div class="data_grid clear">
        <table id="commonList"></table>
        <div id="commonPager"></div>
    </div>

    <!-- 详细表单 -->
    <div id="commonDetail" class="form"
         style="width: 600px; display: none;">
        <form id="commonDetailForm" action="" method="post">
            <!--TODO 这里错了-->
            <table class="t4">
                <tr>
                    <th>id</th>
                    <td><input class="easyui-validatebox" data-options="" type="text" id="id" name="id"/></td>
                    <th>商标号</th>
                    <td><input class="easyui-validatebox" data-options="" type="text" id="number" name="number"/></td>
                    <th>期号</th>
                    <td><input class="easyui-validatebox" data-options="" type="text" id="anNum" name="anNum"/></td>
                </tr>
                <tr>
                <th>申请日期</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="applicationDate"
                           name="applicationDate"/></td>
                <th>商标名</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="name" name="name"/></td>
                <th>申请人</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="applicant" name="applicant"/></td>

                </tr>
                <tr>
                <th>地址</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="address" name="address"/></td>
                <th>代理机构</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="agency" name="agency"/></td>
                <th>异议期限-开始</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="yiyiStartDate"
                           name="yiyiStartDate"/></td>

                </tr>
                <tr>
                <th>异议期限-截止</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="yiyiEndDate" name="yiyiEndDate"/>
                </td>
                <th>类型</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="type" name="type"/></td>
                </tr>
                <tr>
                <th>被选择的类型</th>
                <td><input class="easyui-validatebox" data-options="" type="text" id="choosedType" name="choosedType"/>
                </td>
                </tr>
            </table>
            <div class="btn_center" id="commonDetailBtnKit">
                <input type="button" class="btn_blue" id="commonSaveBtn" value="保存"/>
                <input type="button" class="btn_blue  pd_l10" id="commonResetBtn"
                       value="重置"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
