<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商标数据管理</title>
	<link href="${request.contextPath}/css/common_biz.css"
		  rel="stylesheet" type="text/css" />
	${jsContext}${jquery}${easyUI}${jqGrid}${toast}${easyUI}${appJs}${jackson_generator}

    <script type="text/javascript"
            src="${request.contextPath}/js/common/jackson.common.js"></script>

	<script type="text/javascript"
			src="${request.contextPath}/js/trademarkBean_index.js"></script>
</head>
<body>
<div class="pd">
	<div class="toolkit toolkit_plus" >
		<ul class="toolkit_ul_left">
<!--			<li><input type="button" class="btn_blue" id="commonViewBtn"
					   value="查看" /></li>-->
<!--			<li><input type="button" class="btn_blue" id="commonShowAddBtn"
					   value="新增" /></li>-->
			<li><input type="text" id="inputAnnm" pattern="[0-9]{4}" placeholder="输入期号,all代表所有"
					    /></li>
			<li><input type="button" class="btn_blue" id="sameNameSearchBtn"
					   value="查询相同名称" /></li>
			<li><input type="button" class="btn_blue" id="commonShowEditBtn"
					   value="编辑" /></li>
			<li><input type="button" class="btn_blue" id="commonDelBtn"
					   value="删除" /></li>
			<li><input type="button" class="btn_blue" id="commonRefreshBtn"
					   value="刷新" /></li>
            <li><input type="button" class="btn_blue" id="commonBatchGao"
                       value="高精度匹配" /></li>
			<li><input type="button" class="btn_blue" id="exportNumberBtn"
					   value="导出结果全部注册号" /></li>
			<li><input type="button" class="btn_blue" id="exportBtn"
					   value="导出选中商标名称" /></li>
			<li><input type="button" class="btn_blue" id="exportZipBtn"
					   value="导出选中zip包" /></li>
			<li><input type="button" class="btn_blue" id="exportAllNameBtn"
					   value="导出结果全部商标名称" /></li>




		</ul>
		<ul class="toolkit_ul_right">
			<li>商标号 <input type="text" id="commonSearchInput">
			</li>
			<li><input type="button" class="btn_blue" id="commonSearchBtn"
					   value="查询" /></li>
			<li><input type="button" class="btn_blue" id="commonRetrieveBtn"
					   value="检索" /></li>
			<li><input type="text" id="inputLiuShui" placeholder="请输入流水号开始位置"
			/></li>
			<li><input type="button" class="btn_blue" id="exportAllZipBtn"
					   value="导出结果全部zip包" /></li>
		</ul>
	</div>
	<div class="data_grid clear">
		<table id="commonList"></table>
		<div id="commonPager"></div>
	</div>

	<!-- 详细表单 -->
	<div id="commonDetail" class="form"
		 style="width: 600px; display: none;">
		<form id="commonDetailForm" action="" method="post">
			<table class="t4">
				<tr>
					<th>期号</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="anNum" name="anNum" /></td>
					<th>页码编号</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="page_no" name="page_no" /></td>
					<th>商标号</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="number" name="number" /></td>
				</tr>
				<tr>
					<th>商标名</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="name" name="name" /></td>
					<th>解析名称</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="analysisName" name="analysisName" /></td>
					<th>排序</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="mOrder" name="mOrder" /></td>

				<tr>
					<th>申请人</th>
					<td colspan="5"><input style="width: 900px"  class="easyui-validatebox" data-options="" type="text" id="applicant" name="applicant" /></td>
				</tr>
                <tr>
                    <th>地址</th>
                    <td colspan="5"><input style="width: 900px" class="easyui-validatebox" data-options="" type="text" id="address" name="address" /></td>
                </tr>
                <tr>
                    <th>代理机构</th>
                    <td colspan="5"><input style="width: 900px"  class="easyui-validatebox" data-options="" type="text" id="agency" name="agency" /></td>
                </tr>
				<tr>
					<th>备注1</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="remark" name="remark" /></td>
					<th>备注2</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="remark2" name="remark2" /></td>
					<th>备注3</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="remark3" name="remark3" /></td>
				</tr>
				</tr>
				</tr>
				</tr>
				<tr>
					<th>申请日期</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="applicationDate" name="applicationDate" /></td>
					<th>类型</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="type" name="type" /></td>
					<th>精度类别</th>
					<td><input class="easyui-validatebox" data-options="" type="text" id="analysType" name="analysType" /></td>
				</tr>
			</table>
			<div class="btn_center" id="commonDetailBtnKit">
				<input type="button" class="btn_blue" id="commonSaveBtn" value="保存" />
				<input type="button" class="btn_blue  pd_l10" id="commonGao" value="高精度识别" />
				<input type="button" class="btn_blue  pd_l10" id="commonNormal" value="普通度识别" />
                <input type="button" class="btn_blue  pd_l10" id="commonPrePage" value="上一页" />
                <input type="button" class="btn_blue" id="commonNextPage" value="下一页" />


			</div>
			<div class="btn_center">
				<img id="img_trademark" height="300px">
			</div>
		</form>
	</div>
</div>
</body>
</html>
