<!DOCTYPE html>
<html>
<link href="${request.contextPath}/css/common_biz.css"
      rel="stylesheet" type="text/css" />
${jsContext}${jquery}${easyUI}${jqGrid}${toast}${easyUI}${appJs}${jackson_generator}
<script type="text/javascript"
        src="${request.contextPath}/js/upload_index.js"></script>
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>

</head>
<body>
<form enctype="multipart/form-data">
    <p>上传商标数据<input type="file" id="data_file" name="file"/>
        <input id="upload_data" class="btn_blue" type="button" value="上传"/></p>

</form>
<form enctype="multipart/form-data">
    <p>上传粗筛后商标名称<input type="file" id="name_file" name="file"/> <input type="text" id="annm" name="annm" placeholder="请输入期号"/>
        <input type="text" id="remark" name="remark" placeholder="请输入备注"/>
        <input id="upload_name" class="btn_blue" type="button" value="上传"/></p>
</form>

<div  >
    <ul class="toolkit_ul_left">


        <li><input type="text" id="inputAnnm" placeholder="输入期号"
        /></li>
        <li><input type="button" class="btn_blue" id="deleteAllBtn"
                   value="删除商标信息" /></li>




    </ul>

</div>


</body>
</html>