<!DOCTYPE html>
<html>
<head>
<title>首页</title>
<meta charset="UTF-8">
${jsContext}${jquery}${appJs}${bootstrap}${easyUI}${zTree}${toast}

<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/home/cx_css.css" />
<link rel="stylesheet" type="text/css" href="css/home/index.css"/>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/js/home/bootstrap2/css/bootstrap.css"/>
<!-- <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/market.css"> -->
<!-- <script type="text/javascript" src="${request.contextPath}/fusioncharts/js/fusioncharts.js"></script> -->
<!-- <script type="text/javascript" src="${request.contextPath}/js/commons/chooseCriminal.js"></script> -->
<!-- <script type="text/javascript" src="${request.contextPath}/js/commons/TitanContext.js"></script> -->
<script type="text/javascript" src="${request.contextPath}/js/home/home_index.js"></script>

</head>
<body>
	<div>
	</div>
</body>
</html>